<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div>等待中......</div>
    <input type="hidden" id="username" name="username" th:value="${username}">
</body>
<script>
    function func(){
        //每隔2秒查询是否已生成订单
        window.setInterval(function checkOrder() {
            var username = $("#username").val();
            var gid = $("#gid").val();
                $.ajax({
                    url:"/checkOrderExist?username=" + username,
                    type:"GET",
                    success:function(data){
                        if(data == 1){
                            window.location.href = '/order';
                        }
                    }
                });
        },
        "checkOrder()", 2000);
    }
    window.onload = func;
</script>
</html>
